@charset "UTF-8";
/** 
 * 
 * 使用：
 * 所有的单位都使用 rem(px数值) 的方式
 * 例如 width: 640px; => width: rem(640); 或 width: rem(640px);
 *
 */
.main {
  background: red;
  background: url(/static/mobileBoilerplate/img/show_020e6a564e616761e3cac571eebd4ff4.jpg) no-repeat center/contain;
  margin: auto;
  width: 16rem;
  height: 16rem; }
